@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --el-bg-primary: #FFFFFF;
  --el-bg-secondary: #F5F7FA;
  --el-bg-third: #FFD369;
  --el-bg-primary-hover: #f2f2f2;
  --ep-menu-bg-color: #FFFFFF;
  --ep-box-shadow-light: 0px 0px 6px rgba(0, 0, 0, 0.1);

  &.dark {
    --el-bg-primary: #222831;
    --el-bg-secondary: #444951;
    --el-bg-primary-hover: #393E46;
    --ep-menu-bg-color: #222831;
    --ep-box-shadow-light: 0px 0px 6px rgba(0, 0, 0, 0.22);
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: var(--el-bg-secondary);
}

.el-header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  gap: 10px;
  padding: 0 !important;
  min-width: 100%;
  height: 95px;


  .header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 70%;

    .toggle-sidebar-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--el-bg-primary);
      font-size: 25px;
      border-radius: 10px;
      padding: 9.5px;
      transition: 300ms all;
      box-shadow: var(--ep-box-shadow-light);

      &:hover {
        background-color: var(--el-bg-primary-hover);
      }
    }

    .breadcrumb-container {
      display: flex;
      align-items: center;
      background-color: var(--el-bg-primary);
      border-radius: 10px;
      padding: 13px 15px;
      width: 100%;
      box-shadow: var(--ep-box-shadow-light);

      b {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        cursor: pointer;
        transition: 300ms all;

        &:hover {
          color: var(--ep-color-primary);
        }
      }
    }
  }

  .header-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .dark-toggle {


      button {
        display: flex;
        align-items: center;
        font-size: 30px !important;
      }
    }

    .user-avatar {
      border: 2px solid var(--el-bg-third);
    }
  }
}

.ep-sub-menu__title,
.ep-menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px !important;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 15px;
  height: 50px;
  border-radius: 10px;

  &.is-active-link {
    padding: 1px;
    color: var(--ep-text-color-primary);
    background-color: var(--el-bg-primary-hover);

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 5px;
      height: 100%;
      border-radius: 10px;
      background-color: var(--el-bg-third);
    }
  }

  i {
    font-size: 22px;
  }

  &:hover {
    background-color: var(--el-bg-primary-hover) !important;
  }
}

.ep-card {
  @apply rounded-xl;
  border-radius: 12px !important;
}


.logo {
  height: 45px;
  object-fit: contain;
  margin: 20px 15px;
  margin-bottom: 40px;
}



.exchange-card {
  padding: 0px !important;
  position: relative;
  z-index: 1;
  background-color: var(--el-bg-primary) !important;
  margin-bottom: 45px;
  box-shadow: var(--ep-box-shadow-light);

  @media (max-width:992px) {
    margin-bottom: 15px;
  }

  .top-side {
    position: relative;
    padding: calc(var(--ep-main-padding) * 1.5);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    img {
      width: 35px;
      height: 35px;
      object-fit: contain;
      margin-right: 15px;
    }

    .info {
      display: flex;
      align-items: flex-end;

      .text {
        h4 {
          display: inline-flex;
          align-items: center;
          font-size: 16px;

          i {
            margin-right: 5px;
          }

          span {
            font-size: 14px;
            font-weight: 500;
          }
        }

        h6 {
          font-size: 20px;
          font-weight: 500;
        }
      }


    }

    .value {
      font-size: 20px;
      font-weight: 500;
    }
  }
}